In [5]:
import snowflake.connector
import pandas as pd

# Set up connection parameters
user = "Mithun"
password = "Mithun123!!"
account = "lz05490.central-india.azure"
warehouse = "COMPUTE_WH"
database = "TIMESHEET"
schema = "FAKEDATA"
role = "ACCOUNTADMIN"
retry_attempts = 3  # Number of retry attempts

def establish_connection():
    try:
        # Establish connection
        conn = snowflake.connector.connect(
            user=user,
            password=password,
            account=account,
            warehouse=warehouse,
            database=database,
            schema=schema,
            role=role
        )
        return conn
    except snowflake.connector.errors.OperationalError as e:
        print(f"Connection error: {e}")
        return None

# Attempt to establish connection with retries
for attempt in range(retry_attempts):
    print(f"Attempting to connect (Attempt {attempt + 1})...")
    connection = establish_connection()
    if connection:
        print("Connection established successfully!")
        break
    else:
        print("Retrying connection...")
else:
    print("Failed to establish connection after multiple attempts.")

# If connection is successful, proceed with executing queries
if connection:
    # Create a cursor object
    cur = connection.cursor()

    # Execute a query to select data from the table
    cur.execute('SELECT * FROM TIMESHEET.FAKEDATA.FINALDATA')

    # Fetch the results
    rows = cur.fetchall()

    # Close the cursor and connection
    cur.close()
    connection.close()

    # Convert the result into a pandas DataFrame for easier manipulation
    df = pd.DataFrame(rows, columns=[x[0] for x in cur.description])
    print(df.head())  # Display the first few rows of the DataFrame

Attempting to connect (Attempt 1)...
Connection established successfully!
             NAME                  EMAIL USERTYPE               ROLE  \
0   Joseph Peters  abigail38@example.com     user  software engineer
1   Joseph Peters  abigail38@example.com     user  software engineer
2   Joseph Peters  abigail38@example.com     user  software engineer
3   Joseph Peters  abigail38@example.com     user  software engineer
4  Jennifer Welch     aclark@example.org     user         consultant

        PROJECT_NAME                             PROJECTID  \
0  Sheppard and Sons  b5a66681-6e00-4fd7-aa62-aa34b4f16d39
1  Sheppard and Sons  b5a66681-6e00-4fd7-aa62-aa34b4f16d39
2  Sheppard and Sons  b5a66681-6e00-4fd7-aa62-aa34b4f16d39
3  Sheppard and Sons  b5a66681-6e00-4fd7-aa62-aa34b4f16d39
4       Mcguire-Hall  24ac78dd-f13b-4b1c-b268-f4005d794c8e

  PROJECT_START_PERIOD PROJECT_END_PERIOD    CATEGORY ALLOCATION_START  ...  \
0           2024-03-02         2024-06-28       AI/ML       2024-03-20  ...
1           2024-03-02         2024-06-28       AI/ML       2024-03-20  ...
2           2024-03-02         2024-06-28       AI/ML       2024-03-20  ...
3           2024-03-02         2024-06-28       AI/ML       2024-03-20  ...
4           2024-02-10         2024-06-09  Mobile App       2024-03-18  ...

   SUN FEEDBACK_START_PERIOD FEEDBACK_END_PERIOD Q1 Q2  Q3  Q4  Q5  Q6  \
0  3.0            2024-03-13          2024-05-05  2  1   4   3   1   5
1  1.0            2024-03-13          2024-05-05  2  1   4   3   1   5
2  3.0            2024-03-13          2024-05-05  2  1   4   3   1   5
3  8.0            2024-03-13          2024-05-05  2  1   4   3   1   5
4  0.0            2024-03-19          2024-04-17  3  5   2   2   2   1

                                   FEEDBACK_COMMENTS
0  Visit why hard because believe produce accept ...
1  Visit why hard because believe produce accept ...
2  Visit why hard because believe produce accept ...
3  Visit why hard because believe produce accept ...
4  Similar left must step sound price add. Voice ...

[5 rows x 31 columns]

In [6]:
df

,NAME,EMAIL,USERTYPE,ROLE,PROJECT_NAME,PROJECTID,PROJECT_START_PERIOD,PROJECT_END_PERIOD,CATEGORY,ALLOCATION_START,...,SUN,FEEDBACK_START_PERIOD,FEEDBACK_END_PERIOD,Q1,Q2,Q3,Q4,Q5,Q6,FEEDBACK_COMMENTS
0,Joseph Peters,abigail38@example.com,user,software engineer,Sheppard and Sons,b5a66681-6e00-4fd7-aa62-aa34b4f16d39,2024-03-02,2024-06-28,AI/ML,2024-03-20,...,3.0,2024-03-13,2024-05-05,2,1,4,3,1,5,Visit why hard because believe produce accept ...
1,Joseph Peters,abigail38@example.com,user,software engineer,Sheppard and Sons,b5a66681-6e00-4fd7-aa62-aa34b4f16d39,2024-03-02,2024-06-28,AI/ML,2024-03-20,...,1.0,2024-03-13,2024-05-05,2,1,4,3,1,5,Visit why hard because believe produce accept ...
2,Joseph Peters,abigail38@example.com,user,software engineer,Sheppard and Sons,b5a66681-6e00-4fd7-aa62-aa34b4f16d39,2024-03-02,2024-06-28,AI/ML,2024-03-20,...,3.0,2024-03-13,2024-05-05,2,1,4,3,1,5,Visit why hard because believe produce accept ...
3,Joseph Peters,abigail38@example.com,user,software engineer,Sheppard and Sons,b5a66681-6e00-4fd7-aa62-aa34b4f16d39,2024-03-02,2024-06-28,AI/ML,2024-03-20,...,8.0,2024-03-13,2024-05-05,2,1,4,3,1,5,Visit why hard because believe produce accept ...
4,Jennifer Welch,aclark@example.org,user,consultant,Mcguire-Hall,24ac78dd-f13b-4b1c-b268-f4005d794c8e,2024-02-10,2024-06-09,Mobile App,2024-03-18,...,0.0,2024-03-19,2024-04-17,3,5,2,2,2,1,Similar left must step sound price add. Voice ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2238,Amy Hill,zsantiago@example.org,user,software engineer,"White, Vaughan and Campbell",12ab0952-840f-4880-8572-cec4f8a06384,2024-01-27,2024-08-03,Data Science,2024-03-30,...,2.0,2024-03-17,2024-04-18,3,2,3,5,3,2,Four west great last party energy minute.\nAlo...
2239,Amy Hill,zsantiago@example.org,user,software engineer,"White, Vaughan and Campbell",12ab0952-840f-4880-8572-cec4f8a06384,2024-01-27,2024-08-03,Data Science,2024-03-30,...,6.0,2024-03-17,2024-04-18,3,2,3,5,3,2,Four west great last party energy minute.\nAlo...
2240,Nicole Taylor,zwells@example.net,user,software engineer,Jones-Garcia,3c75220c-3bdf-41b3-a178-b81f3cf7ed82,2024-03-01,2024-07-10,Mobile App,2024-03-13,...,2.0,2024-04-02,2024-04-12,1,3,3,4,2,1,Than smile suffer food discuss. Later head act...
2241,Nicole Taylor,zwells@example.net,user,software engineer,Jones-Garcia,3c75220c-3bdf-41b3-a178-b81f3cf7ed82,2024-03-01,2024-07-10,Mobile App,2024-03-13,...,7.0,2024-04-02,2024-04-12,1,3,3,4,2,1,Than smile suffer food discuss. Later head act...
2242,Nicole Taylor,zwells@example.net,user,software engineer,Jones-Garcia,3c75220c-3bdf-41b3-a178-b81f3cf7ed82,2024-03-01,2024-07-10,Mobile App,2024-03-13,...,7.0,2024-04-02,2024-04-12,1,3,3,4,2,1,Than smile suffer food discuss. Later head act...